<html>
<head>
    <title>WaterDiviner</title>
<script src="http://openlayers.org/api/OpenLayers.js"></script>
</head>
<body>
 <div style="width:100%; height:100%" id="mapdiv"></div>
      <script defer="defer" type="text/javascript">

    map = new OpenLayers.Map("mapdiv");
    map.addLayer(new OpenLayers.Layer.OSM());
    
    epsg =  new OpenLayers.Projection("EPSG:4326"); 
    projectTo = map.getProjectionObject(); //The map projection (Spherical Mercator)
    icon = "http://icons.iconarchive.com/icons/icons-land/vista-map-markers/256/Map-Marker-Ball-Pink-icon.png";
    var lonLat = new OpenLayers.LonLat( -73.989401 , 40.741726 ).transform(epsg, projectTo);
          
    
    var zoom=14;
    map.setCenter (lonLat, zoom);

    var vectorLayer = new OpenLayers.Layer.Vector("Overlay");
    
    // Define markers as "features" of the vector layer:
    {% for point in points %}
    var feature = new OpenLayers.Feature.Vector(
            new OpenLayers.Geometry.Point( {{point.coord.x}}, {{point.coord.y}} ).transform(epsg, projectTo),
            {description:'{{point.address}}<br>{{point.name}}'.replace(/,/g, ",<br>") } ,
            {externalGraphic: icon, 
             graphicHeight: 25, graphicWidth: 21, graphicXOffset:-12, graphicYOffset:-25  }
        );    
    vectorLayer.addFeatures(feature);
       
    map.addLayer(vectorLayer);
    {% endfor %}
    
    //Add a selector control to the vectorLayer with popup functions
    var controls = {
      selector: new OpenLayers.Control.SelectFeature(vectorLayer, { onSelect: createPopup, onUnselect: destroyPopup })
    };

    function createPopup(feature) {
      feature.popup = new OpenLayers.Popup.FramedCloud("pop",
          feature.geometry.getBounds().getCenterLonLat(),
          null,
          '<div class="markerContent">'+feature.attributes.description+'</div>',
          null,
          true,
          function() { controls['selector'].unselectAll(); }
      );
      //feature.popup.closeOnMove = true;
      map.addPopup(feature.popup);
    }

    function destroyPopup(feature) {
      feature.popup.destroy();
      feature.popup = null;
    }
    
    map.addControl(controls['selector']);
    controls['selector'].activate();
</script>

</body>
</html>
